@model IEnumerable<AdvertisementApp.Core.Models.Domains.Advertisement>

<div id="startTable">
    <table class="table table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Cena</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var advertisement in Model)
                {
                    <tr>
                        <td>
                            <img src="~/Images/@advertisement.ImageName" />
                        </td>
                        <td>@advertisement.Title</td>
                        <td>@advertisement.Description</td>
                        <td>@advertisement.Category.Name</td>
                        <td>@advertisement.Price</td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center"
                    colspan="5">
                    Brak ogłoszeń
                </tr>
            }
        </tbody>
    </table>
</div>